<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heal-GPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo_div">
            <img id = "logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
            <p id="brand_name">HEAL - GPT</p>
        </div>
        <div class="links">
            <a href="">Home</a>
            <a href="">Search</a>
            <a href="">Diagnose</a>
            <a href="">Login</a>
        </div>
    </div>

    <h1>PCOS Diagnosis Predictor</h1>
    <!-- No need for file input if the CSV file is in the directory -->
    <button onclick="predict()">Predict</button>
    <div id="predictions"></div>

    <script>
        function predict() {
            fetch('/predict', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                const predictionsDiv = document.getElementById('predictions');
                const result = data.predictions.map(pred => pred === 1 ? 'PCOS' : 'No PCOS');
                predictionsDiv.innerHTML = '<h3>Predictions:</h3>' + result.join(', ');
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Automatically call predict() function on page load
    </script>
</body>
</html>