<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Lens</title>
    
</head>
<body>
    <div class="header">
        <div class="logo_div">
            

            <p id="brand_name">Eco-Lens</p>
        </div>
        <div class="links">
            <a href="">Home</a>
            <a href="/identify">Identify</a>
            <a href="">Login</a>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class="first_div">
        <div id="video_div"></div>
        <div class="prompt_bar_div">
            <div class="prompt_div_details">
                <p id="prompt_desc">Upload the image of the endangered species</p>
                <input id = "prompt_input" type="file" name="image" accept="image/*">
                <p>{{ message }}</p>
            </div>
            
        </div>
        
    </div>
    
</body>
</html>